@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles for admin panel can be added here */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
